<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="scroll-down">SCROLL DOWN
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path d="M16 3C8.832031 3 3 8.832031 3 16s5.832031 13 13 13 13-5.832031 13-13S23.167969 3 16 3zm0 2c6.085938 0 11 4.914063 11 11 0 6.085938-4.914062 11-11 11-6.085937 0-11-4.914062-11-11C5 9.914063 9.914063 5 16 5zm-1 4v10.28125l-4-4-1.40625 1.4375L16 23.125l6.40625-6.40625L21 15.28125l-4 4V9z"/>  
      </svg>
    </div>
    <div class="login-page-container">
        <div class="login-left">
            <h1 class="login-title">Welcome back!</h1>
            <p class="login-desc">Log in to continue your career discovery journey.</p>

            {% if message %}
                <p class="login-message">❌ {{ message }}</p>
            {% endif %}

            <form method="POST">
                <div class="input-block">
                    <label for="username" class="input-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </div>
                <div class="input-block">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="input-button">Login</button>
                </div>
            </form>
        </div>
        <div class="login-right">
            <img src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?auto=format&fit=crop&w=1000&q=80" alt="Study Image">
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>